@model NewsHouse.Models.Tags

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt class="m-2">
            Tag Name
        </dt>

        <dd class="badge bg-warning py-2 px-4 text-dark">
            @Html.DisplayFor(model => model.TagsName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TagsId }, new {@class="btn btn-sm btn-warning"})
    @Html.ActionLink("Back to List", "Index",null, new {@class="btn btn-sm btn-primary"})
</p>
